input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1d6d6;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #fd506d;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #eb4762;
}
